@*MVC_Project_Part1
    Mudrak Patel and Javid Niftaliyev*@

<div class="img-responsive contactView">
    <h2 class="contactHeadingText">@ViewBag.Message</h2>
    <div id="facebookIcon" class="img-responsive facebookIcon">
    </div>
    <div id="twitterIcon" class="img-responsive twitterIcon">
    </div>
    <div id="instagramIcon" class="img-responsive instagramIcon">
    </div>
    <div class="col-md-offset-4 contactDiv">
        Email: cafesocietyrestaurant@@gmail.com <br />
        Address: 212 N Evergreen St, Memphis, TN 38112, USA
    </div>
    <div class="mapImage"></div>
    <br>
    <br>
    <br>
</div>