@*MVC_Project_Part1
    Mudrak Patel and Javid Niftaliyev*@

@{
    ViewBag.Title = "Home";
}
<section class="masthead show-for-all-sizes default hide-for-small-only hide-for-medium-portrait">
    <div class="image1">
        <img src="~/Assets/images/cafe2.jpg" height="400" width="1330" alt"Cafe 2 Image" />
        <center><h2>Welcome to Cafe Society</h2></center>
    </div>
    <!-- <div class="img-responsive indexView">
         <h5 class="restaurantTextBody col-lg-pull-5">
          <!--   Grab a coffee and a light snack that enlightens your evening.
         </h5> -->
    <div class="image2">
        <div style="float:right;margin-right:55px;">
            <img src="~/Assets/images/menu2.png" height="200" width="200" />
            <p style="text-align:center;">Menu</p>

        </div>
        <div style="float:right;margin-right:5px;">
            <img src="~/Assets/images/order1.png" height="200" width="200" />
            <p style="text-align:center;">Order Now</p>
        </div>
        <div style="float:left;margin-right:5px;">
            <img src="~/Assets/images/about1.jpg" height="200" width="200" />
            <p style="text-align:center;">About</p>
        </div>
    </div>
</section>
<section>
    <h3 style="text-align: center;">One Location, Two Exeptional Dining Experience </h3>
    <div class="image2">
        <div style="float:right;margin-right:5px;">
            <h3 class="col-lg-offset-1" style="text-align: center;">The Best on The Menu </h3>
            <img src="~/Assets/images/dinner1.jpg" height="400" width="750" class="col-lg-offset-1" />
        </div>
    </div>
</section>